$color-main: #F2B544;
$color-light: #FFF0D4;
$font-main: 'Archivo', sans-serif;

$color-grey: #999999;
$color-black: #4C4C4C;
$shadow-main: 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow-pressed : 0 2px 2px rgba(0, 0, 0, 0.25);